@font-face {
  font-family: "Montserrat";
  font-weight: 100 900;
  src: url("./fonts/montserrat.ttf") format("truetype-variations");
  src: url("./fonts/montserrat.ttf") format("truetype") tech("variations");
}

@import "tailwindcss";

#clock-number-text {
  font-family: "Montserrat";
  font-weight: 600;
}

.absolute-center {
  @apply top-1/2 left-1/2 absolute;
}

#clock-line {
  @apply h-[170px] w-[2px] bg-transparent -translate-x-1/2 -translate-y-full origin-bottom top-1/2 left-1/2 absolute;

  &::before {
    @apply content-[""] h-[15px] w-[2px] bg-white -translate-x-1/2 -translate-y-full top-0 left-1/2 absolute;
  }

  &:nth-child(5n+1)::before {
    @apply w-[6px];
  }
}

#clock-number {
  @apply h-[100px] w-[2px] bg-transparent -translate-x-1/2 -translate-y-full origin-bottom top-1/2 left-1/2 absolute;
}

#clock-number-text {
  @apply text-[45px] text-white -translate-x-1/2 -translate-y-full top-0 left-1/2 absolute select-none pointer-events-none;
}