@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

#clock-number-text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.absolute-center {
  @apply top-1/2 left-1/2 absolute;
}

#clock-line {
  @apply h-[170px] w-[2px] bg-transparent -translate-x-1/2 -translate-y-full origin-bottom top-1/2 left-1/2 absolute;

  &::before {
    @apply content-[""] h-[15px] w-[2px] bg-white -translate-x-1/2 -translate-y-full top-0 left-1/2 absolute;
  }

  &:nth-child(5n+1)::before {
    @apply w-[6px];
  }
}

#clock-number {
  @apply h-[100px] w-[2px] bg-transparent -translate-x-1/2 -translate-y-full origin-bottom top-1/2 left-1/2 absolute;
}

#clock-number-text {
  @apply text-[45px] text-white -translate-x-1/2 -translate-y-full top-0 left-1/2 absolute select-none pointer-events-none;
}